
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<h1 style="text-align:center">Home</h1>

<img src="~/Content/TemplateHome/img/FondoHome.jpeg" height="500" width="978" class="rounded mx-auto d-block" alt="Alternate Text" />


