@model List<NA.IServicio.Plan.Dto.PlanDto>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>NutriApp</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="~/Content/TemplateIndex/assets/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/TemplateIndex/css/styles.css" rel="stylesheet" />
    <link href="~/Content/TemplateIndex/css/stylesNav.css" rel="stylesheet" />    
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
        <div class="container">
            <a class="navbar-brand" href="#page-top">Inicio</a>
            <button class="navbar-toggler text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="/Home/Presentacion">Quien Soy</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#portfolio">Planes</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#team">Cambios</a></li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded" href="#contact">Contacto</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead">
        <div class="container">
            <div class="masthead-heading text-uppercase"> Bienvenido a NutriApp!</div>
            <div class="masthead-subheading">Ingresá para ver tu progreso!!</div>
            <a class="btn btn-primary btn-xl text-uppercase" href="/Home/Home">Ingresar</a>
        </div>
    </header>
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Planes</h2>
                <h3 class="section-subheading text-muted">Elegi tu plan y comenza tu cambio.</h3>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-lg-4 col-sm-6 mb-4">
                        <!-- Portfolio item 1-->
                        <div class="portfolio-item">
                            <a class="portfolio-link" href="@Url.Action("Plan", "Home", new { planId = item.Id})">
                                <div class="portfolio-hover">
                                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                                </div>
                                <img class="img-fluid" src="~/Content/TemplateIndex/assets/img/Planes/PlanNutricional.png" alt="..." />
                            </a>
                            <div class="portfolio-caption">
                                <div class="portfolio-caption-heading">@item.Titulo</div>
                                <div class="portfolio-caption-subheading text-muted">@item.Descripcion</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

    <section class="page-section bg-light" id="team">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Cambios</h2>
                <h3 class="section-subheading text-muted">Logrando el hábito saludable, aumentando la energía y cumpliendo los objetivos corporales. Tambien puedes ver los cambios en nuestros pacientes.</h3>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Content/TemplateIndex/assets/img/Cambios/Cambio01.jpeg" alt="..." />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Content/TemplateIndex/assets/img/Cambios/Cambio02.jpeg" alt="..." />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Content/TemplateIndex/assets/img/Cambios/Cambio03.jpeg" alt="..." />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Content/TemplateIndex/assets/img/Cambios/Cambio04.jpeg" alt="..." />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Content/TemplateIndex/assets/img/Cambios/Cambio05.jpeg" alt="..." />
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="team-member">
                        <img class="mx-auto rounded-circle" src="~/Content/TemplateIndex/assets/img/Cambios/Cambio06.jpeg" alt="..." />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="page-section" id="contact">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Contactame</h2>
                <h3 class="section-subheading text-muted">Enviame un mensaje asi puedo ayudarte.</h3>
            </div>
            <div class="row">
                
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="card">
                            <img class="img-fluid" src="~/Content/TemplateIndex/assets/img/Contacto/whatsApp.jpg" alt="...">
                            <div class="card-body" style="text-align:center">
                                <h5 class="card-title">Teléfono</h5>
                                <b> <a href="https://l.instagram.com/?u=https%3A%2F%2Fwa.me%2F5493816625971&e=ATNXE1rUByW2PcMhCkaiKuHNPk6e8IFR7NoJU1rL8aW28ObQIfZcFdJit2m9KNhBKMWBYk7wQ7efN1qy5Bs3lA&s=1">3816625971</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="card">
                            <img class="img-fluid" src="~/Content/TemplateIndex/assets/img/Contacto/Instagram.jpg" alt="...">
                            <div class="card-body" style="text-align:center">
                                <h5 class="card-title">Instagram</h5>
                                <b><a href="https://www.instagram.com/nutri.sofiiperaltaa/?hl=es">sofiiperaltaa</a></b>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 d-flex align-items-stretch">
                        <div class="card">
                            <img class="img-fluid" src="~/Content/TemplateIndex/assets/img/Contacto/Ubicacion.jpg" alt="...">
                            <div class="card-body" style="text-align:center">
                                <h5 class="card-title">Consultorio</h5>
                                <p class="card-text">
                                <p><b><a href="https://goo.gl/maps/7md8acd5KkpCZWXs5">Las Piedras 832</a></b></p>
                                <p><b><a href="https://goo.gl/maps/x7BSUV3iWP7QUTbF6">Santiago 385</a></b></p>
                                </p>
                            </div>
                        </div>
                    </div>
                
            </div>
        </div>
    </section>
    <!-- Footer-->
    <footer class="footer py-4">
        <div class="container">
            <div class="row align-items-center">
                <div class="text-lg-center">Copyright &copy; NutriApp 2021</div>
            </div>
        </div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/TemplateIndex/js/scripts.js"></script>
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <!-- * *                               SB Forms JS                               * *-->
    <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
    <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
    <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>

