@model List<NA.IServicio.Plan.Dto.PlanDto>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<header class="masthead">
    <div class="container">
        <div class="masthead-heading text-uppercase"> Bienvedido a NutriApp!</div>
        <div class="masthead-subheading">Ingresá para ver tu progreso!!</div>
        <a class="btn btn-primary btn-xl text-uppercase" href="/Login/Login">Ingresar</a>
    </div>
</header>
<section class="page-section bg-light" id="portfolio">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Planes</h2>
            <h3 class="section-subheading text-muted">Elegi tu plan y comenza tu cambio.</h3>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 col-sm-6 mb-4">
                    <!-- Portfolio item 1-->
                    <div class="portfolio-item">
                        <a class="portfolio-link" href="@Url.Action("Plan", "Home", new { planId = item.Id})">
                            <div class="portfolio-hover">
                                <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                            </div>
                            <img class="img-fluid" src="~/Content/TemplateIndex/assets/img/Planes/PlanNutricional.png" alt="..." />
                        </a>
                        <div class="portfolio-caption">
                            <div class="portfolio-caption-heading">@item.Titulo</div>
                            <div class="portfolio-caption-subheading text-muted">@item.Descripcion</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- Footer-->
<footer class="footer py-4">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4 text-lg-start">Copyright &copy; NutriApp 2021</div>
            <div class="col-lg-4 my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
            </div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="~/Content/TemplateIndex/js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>