@model List<NA.IServicio.Nivel.Dto.NivelDto>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Presentancion de la Nutricionista</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Presentacion/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/Presentacion/css/styles.css" rel="stylesheet" />
</head>
<style>
    .card:hover {
        box-shadow: -1px 9px 40px -12px #808080;
    }
</style>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Sofia Peralta</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/TemplateIndex/assets/img/Planes/planCardImg2.jpg" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <a class="btn btn-primary" style="background-color: #23d13d " href="Index">Volver</a>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <section class="page-section bg-light" id="portfolio">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">PLANES</h2>
                <h3 class="section-subheading text-muted">Elegi tu plan y comenza tu cambio.</h3>
                <br />
                <br />
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="card" style="width:20em;margin:10px;">
                        <img src="data:image/jpeg;base64,@(Convert.ToBase64String(item.Imagen))" class="card-img-top" />
                        <div class="card-body">
                            <div class="card-title">
                                <h2>@item.Titulo</h2>
                            </div>
                            <div class="card-text">
                                <p>@item.Descripcion</p>
                            </div>
                            <a href="@item.LinkPago" class="btn btn-primary">Comprar...</a>
                        </div>
                    </div>

                }
            </div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/Presentacion/js/scripts.js"></script>
</body>
</html>
<script type="text/javascript">
    $('.card').hover(
        function () {
            $(this).animate({
                marginTop: "-=1%",
                marginBottom: "+=1%"
            }, 200)
        },
        function () {
            $(this).animate({
                marginTop: "+=1%",
                marginBottom: "-=1%"
            })
        }
    )
</script>
