@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Presentancion de la Nutricionista</title>
    <link rel="icon" type="image/x-icon" href="~/Content/Presentacion/assets/img/favicon.ico" />
    <!-- Font Awesome icons (free version)-->
    <script src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" crossorigin="anonymous"></script>
    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="~/Content/Presentacion/css/styles.css" rel="stylesheet" />
</head>
<body id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Sofia Luna</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="~/Content/Presentacion/assets/img/Nutricionista.jpg" alt="..." /></span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Quien soy</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Objetivos</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Educacion</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Lugar de Atencion</a></li>
                <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Cursos y Certificaciones</a></li>
                <a class="btn btn-primary" style="background-color: #2E3E50 " href="Index">Volver</a>
            </ul>
        </div>
    </nav>
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h1 class="mb-0">
                    Sofia
                    <span class="text-primary">Luna</span>
                </h1>
                <div class="subheading mb-5">
                    Argentina · Tucuman , San Miguel CP 4000 ·  WP (381)6625971  ·
                </div>
                <p class="lead mb-5">Soy Sofia Luna,  Lic en Nutrición, me recibí en el Año 2019 en la UNSTA (Tucuman)  y desde ese Momento jamás dejé de aprender. </p>
                <p class="lead mb-3">
                    Realizo Planes On Line y atiendo de Manera presencial en Consultorio.

                    Creo en Los Cambios de Hábitos, creo  En que una Dieta Estricta no te lleva a Ningún lado pero Aprender a Comer te puede Cambiar la Vida y ese es Mi Objetivo, Enseñar, Motivar, dar el empujoncito que a veces hace falta.
                </p>
                <p class="lead mb-3">
                    Siempre digo que yo pongo solo mi 10% el otro 90% es Mérito de cada uno que Pone todo de su Parte para Lograrlo, Pero en ese 10% que pongo en la Consulta realmente siempre Doy todo de mi y es por eso que Nunca dejo de Aprender, de Actualizarme, de Probar en mi para poder Recomendarlo a Mis Pacientes.
                </p>
                <p class="lead mb-3">
                    TODO lo que aconsejo o Aplico, también  lo Hago y lo Aplico en Mi, jamás daría un consejo solo porque lo escuche.

                    Amo Aprender cada día Algo Nuevo y la Nutrición es así, Nunca terminas de aprender todo al 100%, nadie tiene la verdad absoluta

                    Amo mi Profesión, Amo lo que hago, le Pongo Todo mi

                    Realmente para que cada uno Cumpla sus objetivos.

                    No seré la Mejor, pero Doy de mi Lo Mejor

                    Gracias a Todos los que Confiaron en Mi este Tiempo, por confiar que juntos podemos sacar su Mejor Versión
                </p>
                <br />
                @*<div class="social-icons">
                    <a class="social-icon" href="#!"><i class="fab fa-instagram"></i></a>
                </div>*@
            </div>
        </section>
        <hr class="m-0" />
        <!-- Experience-->
        <section class="resume-section" id="experience">
            <div class="resume-section-content">
                <h2 class="mb-5">Objetivos</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Realizo Planes On Line y atiendo de Manera presencial en Consultorio. </h3>
                        <div class="subheading mb-3">Pasion</div>
                        <p>
                            Educación Alimentaria, Planificación de Menús Semales de acuerdo a las necesidades de cada Paciente
                            Brindar apoyo y las Herramientas para alcanzar los Objetivos
                            Soporte Por WhatsApp constante para despejar dudas y consultas
                        </p>
                    </div>
                </div>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">Planes</h3>
                        <div class="subheading mb-3">Planes Personalizados para:</div>
                        <p class="lead mb-2">✔Perdida de Grasa </p>
                        <p class="lead mb-2">✔aumento de masa muscular  </p>
                        <p class="lead mb-2">✔enfermedades metabólicas  </p>
                        <p class="lead mb-2">✔Mejorar el Rendimiento deportivo  </p>
                        <p class="lead mb-2">✔Nutricion enfocada en Estética </p>
                        <p class="lead mb-2">✔Embarazo </p>
                        <p class="lead mb-2">✔Lactancia  </p>
                        <p class="lead mb-2">✔Post parto </p>
                        <p class="lead mb-2">✔Pre menospausia</p>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Education-->
        <section class="resume-section" id="education">
            <div class="resume-section-content">
                <h2 class="mb-5">Educacion</h2>
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-0">UNSTA - Universidad del Norte Santo Tomás de Aquino</h3>
                        <div class="subheading mb-3">Licenciatura en Nutricion</div>
                        <div>Titulo obtenido 2019</div>
                    </div>
                </div>
            </div>
        </section>
        <hr class="m-0" />
        <!-- Skills-->
        <section class="resume-section" id="skills">
            <div class="resume-section-content">
                <h2 class="mb-5">Lugar de Atencion</h2>
                <div class="subheading mb-3">Las Piedras 832</div>
                <div class="subheading mb-3">Zona Centro</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Lunes de 8 a 10 hs
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Jueves de 8 a 10 hs
                    </li>
                </ul>

                <br />
                <br />
                <br />


                <div class="subheading mb-3">Santiago 385 Primer Piso </div>
                <div class="subheading mb-3">Zona Centro</div>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Miércoles de 15 a 17:30 hs
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-check"></i></span>
                        Viernes de 15 a 17:30 hs
                    </li>
                </ul>
            </div>


        </section>
        <hr class="m-0" />
        <!-- Awards-->
        <section class="resume-section" id="awards">
            <div class="resume-section-content">
                <h2 class="mb-5">Cursos - Certificaciones</h2>
                <ul class="fa-ul mb-0">
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Nutrición deportiva, suplementacion y recomposicion corporal
                    </li>
                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Entrenamiento en mujeres y entrenamiento de glúteos
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Nutrición vegetariana y vegana
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Curso Nutricion en bikini fitness
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Abordaje Nutriciónal de la enfermedad celíaca
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Nutrición avanzada en culturismo y fitness(IFBB)
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Curso de fuerza estética y rendimiento (SILVANO)
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Seminario de entrenamiento, Nutrición y suplementacion en la mujer
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Seminario de entrenamiento para la estética femenina
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Capacitacion  en Suplementacion deportiva
                        Personal trainner (APA)
                    </li>

                    <li>
                        <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                        Preparadora de atletas bikinis fitness y wellness(APA)
                    </li>
                </ul>
            </div>
        </section>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Core theme JS-->
    <script src="~/Content/Presentacion/js/scripts.js"></script>
</body>
</html>
